.exchange {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.exchange__currency {
  display: flex;
  flex: 2;
  align-items: center;
}

.exchange__currency--to {
  background: #f5f5f5;
}

.exchange__button {
  display: flex;
  flex: 1;
  background: #f5f5f5;
  align-items: center;
}
